body {
  background: var(--color-lighter);
}

#app {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 0.5rem;
  height: 100vh;
  padding: 0.5rem;
}

#top {
  align-items: center;
  display: flex;
  gap: 1rem;
}

#account-btn {
  background: var(--color-lighter);
  border-radius: 50%;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

#bottom {
  display: flex;
  flex: 1;
  gap: 0.5rem;
}

#side {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  transition: width 0.25s;
  width: 12rem;
}

#side.collapsed {
  width: 3.5rem;
}

#side.collapsed .nav-button span,
#side.collapsed .nav-section-header span {
  display: none;
}

#side-nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1.5rem;
}

#main {
  background: var(--color-lightest);
  border-radius: 0.5rem;
  flex: 1;
  overflow-y: auto;
}
