header .layer-inset {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

header nav {
  display: flex;
  gap: 1.5rem;
  flex: 1;
}

header nav a {
  color: var(--color-half);
}

header nav a:hover {
  color: var(--color-darkest);
}

.brand {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: 700;
  gap: 0.5rem;
  letter-spacing: -0.03em;
}

footer .layer-inset {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
